[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
python-frontmatter = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pipenv-setup = "*"
pytest = "*"

[requires]
python_version = "3.8"
